<% include layouts/header.ejs %>
<title>Device</title>
<script>
      document.getElementById("title").innerHTML= "Device";
</script>

<div class="row">
  <div class="col-md-12 p-2">
    <% if(msg != "") { %>
    <div class="alert alert-success">
        <%- msg %>
    </div>
    <% } %>
    <div class="mdl-grid white-section">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalScrollable">
        <b>+</b> Add new device
      </button>
      <!-- Link to open the modal -->
      <table class="table table-bordered table-hover mt-3">
        <thead class="thead-light">
          <tr>
              <th>Device ID</th>
              <th>Device Name</th>
              <th>Type</th>
              <th class="text-center">Action</th>
          </tr>
        </thead>
        <tbody>
          <% devices.forEach(function (device) { %>
            <% if(typeof(device) != 'undefined') { %>
          <tr> 
              <td><%= device.device_id %></td>
              <td><%= device.device_name %></td>
              <td><%= device.type %></td>
              <td class="text-center">
                <a href="/editDevice/<%= device.device_id %>" class='btn btn-info btn-xs'><span class="glyphicon glyphicon-edit"></span> Edit</a>
                <a href="/deleteDevice/<%= device.device_id %>" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Del</a>
              </td>
          </tr>
          <% } %>
          <% }); %>
        </tbody>
      </table>
    </div>    
  </div>
</div>
<% include layouts/footer.ejs %>

<div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">NEW DEVICE</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST" action="/addDevice">
        <div class="modal-body">
            <input type="text" class="form-control" placeholder="Device ID" name="device_id"> 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <input type="submit" class="btn btn-primary">
        </div>
      </form>
    </div>
  </div>
</div>


