<% include layouts/header.ejs %>
<title>Device</title>
<script>
      document.getElementById("title").innerHTML= "Device";
</script>

<div class="row">
      <div class="col-md-12 p-2">
        <form class="form-horizontal mt-3" role="form" method="POST" action="/addDevice" accept-charset="UTF-8">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Device ID" name="device_id">
            <input type="submit" value="Add device" class="btn btn-primary btn-s mt-3">
          </div>
        </form>
        <table class="table table-bordered table-hover">
          <thead class="thead-light">
            <tr>
                <th>Device ID</th>
                <th>Device Name</th>
                <th>Type</th>
                <th class="text-center">Action</th>
            </tr>
          </thead>
          <tbody>
            <% devices.forEach(function (device) { %>
              <% if(typeof(device) != 'undefined') { %>
            <tr> 
              
                <td><%= device.device_id %></td>
                <td><%= device.device_name %></td>
                <td><%= device.type %></td>
                <td class="text-center">
                  <a href="/editDevice?id=<%= device.device_id %>" class='btn btn-info btn-xs'><span class="glyphicon glyphicon-edit"></span> Edit</a>
                  <a href="/deleteDevice?id=<%= device.device_id %>" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Del</a>
                </td>
            </tr>
            <% } %>
            <% }); %>
          </tbody>
        </table>
      </div>
</div>
<% include layouts/footer.ejs %>