<% include layouts/header.ejs %>
<title>Device</title>
<script>
      document.getElementById("title").innerHTML= "Device";
</script>

<div class="row">
      <div class="col-md-12 p-2">
        <% if(msg != "") { %>
        <div class="alert alert-success">
            <%- msg %>
        </div>
        <% } %>

        <!-- Button trigger modal -->
        <!-- Button trigger modal -->
        <div id="ex1" class="modal" style="height: 40%;">
          <h4>NEW DEVICE</h4>
          <form class="form-horizontal mt-2" role="form" method="POST" action="/addDevice" accept-charset="UTF-8">
              <input type="text" class="form-control" placeholder="Device ID" name="device_id">
              <input type="submit" value="OK" class="form-control btn btn-primary mt-2">
          </form>
        </div>
        <!-- Link to open the modal -->
        <table class="table table-bordered table-hover">
          <thead class="thead-light">
            <tr>
                <th>Device ID</th>
                <th>Device Name</th>
                <th>Type</th>
                <th class="text-center">Action</th>
            </tr>
          </thead>
          <a href="#ex1" rel="modal:open" class="btn btn-primary btn-xs pull-right mb-3"><b>+</b> Add new device <br></a>
          <tbody>
            <% devices.forEach(function (device) { %>
              <% if(typeof(device) != 'undefined') { %>
            <tr> 

                <td><%= device.device_id %></td>
                <td><%= device.device_name %></td>
                <td><%= device.type %></td>
                <td class="text-center">
                  <a href="/editDevice/<%= device.device_id %>" class='btn btn-info btn-xs'><span class="glyphicon glyphicon-edit"></span> Edit</a>
                  <a href="/deleteDevice/<%= device.device_id %>" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Del</a>
                </td>
            </tr>
            <% } %>
            <% }); %>
          </tbody>
        </table>
      </div>
</div>
<% include layouts/footer.ejs %>


